.menu-lateral {
    padding: 2.5rem .5rem 0;
    font-weight: 400;
    letter-spacing: 0.25rem;
    width: 228px;
    height: 100%;
    position: fixed;
    background-color: #01080E;
}

.menu-lateral-logo {
    margin-left: 0%;
}

.div-menu-lateral {
    display: grid;
    grid-template-rows: repeat(3, auto) 1fr;
    row-gap: 2rem;
    padding: 50% 10px 0px 10px;
}

.links-do-menu-lateral {
    font-size: inherit;
    text-decoration: none;
    color: white;
}

.links-do-menu-lateral:hover {
    color: #2BDEFD;
    transition: 0.4s ease-out;
}

.padding-right-15 {
    padding-right: 15px;
}

.playlists-menu-lateral {
    padding-left: 2.5rem;
    font-size: 17px;
    color: white;
}

.links-da-playlists-menu-lateral {
    font-size: inherit;
    text-decoration: none;
    color: white;
}

.links-da-playlists-menu-lateral:hover {
    color: #2BDEFD;
    transition: 0.4s ease-out;
}

.menu-lateral-bottom {
    display: none;
}

.espacamento-main {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-bottom: 3.43rem;
    height: 1000px;
    width: 85%;
    background: #041833;
    margin-left: 228px;
}

.secao-titulo {
    font-weight: 700;
    font-size: 1.35rem;
    user-select: none;
    color: white;
    margin-top: 115px;
}

.cartao {
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 1.25rem;
    background: rgba(196, 196, 196, 0.2);
    border-radius: .5rem;
    margin-top: 20px;
}

.cartao-imagem {
    height: 4.58rem;
}

.cartao-titulo {
    font-weight: 700;
    line-height: 1.35rem;
    color: white;
    font-size: 16px;
    margin-top: 12px;
}

.cartao-play {
    width: 10.25rem;
    height: 0.25rem;
    background: white;
    border-radius: .5rem;
    margin: 60px 0px 0px 92px;
    position: absolute;
}

.play-podcast {
    margin-top: 13px;
    margin-right: 10px;
}

/*Responsive*/

@media (max-width: 320px) {

    .menu-lateral-logo {
        margin-left: 0%;
        display: none;
    }

    .playlists-menu-lateral {
        padding-left: 2.5rem;
        font-size: 17px;
        color: white;
        display: none;
    }

    .links-da-playlists-menu-lateral {
        font-size: inherit;
        text-decoration: none;
        color: white;
        display: none;
    }

    .menu-lateral {
        display: none;
    }

    .menu-lateral-bottom {
        display: flex;
        opacity: 0.9;
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 80px;
        background-color: #01080E;
    }

    .div-menu-lateral {
        display: flex;
        padding: 15px;
    }

    .widht-100 {
        width: 108%;
    }

    .padding-right-15 {
        padding-right: 0px;
    }

    .links-do-menu-lateral {
        font-size: inherit;
        text-decoration: none;
        color: white;
        text-align: center;
        width: 35%;
    }

    .espacamento-main {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-bottom: 3.43rem;
        height: 1000px;
        width: 100%;
        background: #041833;
        margin-left: 0px;
    }

    .secao-titulo {
        font-weight: 700;
        font-size: 1.35rem;
        user-select: none;
        color: white;
        margin-top: 75px;
    }

    .espacamento-main {
        padding-left: 0rem;
        padding-right: 0rem;
        margin-bottom: 3.43rem;
        height: 1000px;
        width: 100%;
        background: #041833;
        margin-left: 0px;
    }

    .cartao-play {
        width: 8.25rem;
        height: 0.25rem;
        background: white;
        border-radius: .5rem;
        margin: 60px 0px 0px 92px;
        position: absolute;
    }

}

@media (min-width: 321px) and (max-width: 376px) {

    .menu-lateral-logo {
        margin-left: 0%;
        display: none;
    }

    .playlists-menu-lateral {
        padding-left: 2.5rem;
        font-size: 17px;
        color: white;
        display: none;
    }

    .links-da-playlists-menu-lateral {
        font-size: inherit;
        text-decoration: none;
        color: white;
        display: none;
    }

    .menu-lateral {
        display: none;
    }

    .menu-lateral-bottom {
        display: flex;
        opacity: 0.9;
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 80px;
        background-color: #01080E;
    }

    .div-menu-lateral {
        display: flex;
        padding: 15px;
    }

    .widht-100 {
        width: 108%;
    }

    .padding-right-15 {
        padding-right: 0px;
    }

    .links-do-menu-lateral {
        font-size: inherit;
        text-decoration: none;
        color: white;
        text-align: center;
        width: 35%;
    }

    .espacamento-main {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-bottom: 3.43rem;
        height: 1000px;
        width: 100%;
        background: #041833;
        margin-left: 0px;
    }

    .secao-titulo {
        font-weight: 700;
        font-size: 1.35rem;
        user-select: none;
        color: white;
        margin-top: 75px;
    }

    .espacamento-main {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 3.43rem;
        height: 1000px;
        width: 100%;
        background: #041833;
        margin-left: 0px;
    }

    .cartao-play {
        width: 9.25rem;
        height: 0.25rem;
        background: white;
        border-radius: .5rem;
        margin: 60px 0px 0px 92px;
        position: absolute;
    }

}

@media (min-width:  377px) and (max-width: 576px) {

    .menu-lateral-logo {
        margin-left: 0%;
        display: none;
    }

    .playlists-menu-lateral {
        padding-left: 2.5rem;
        font-size: 17px;
        color: white;
        display: none;
    }

    .links-da-playlists-menu-lateral {
        font-size: inherit;
        text-decoration: none;
        color: white;
        display: none;
    }

    .menu-lateral {
        display: none;
    }

    .menu-lateral-bottom {
        display: flex;
        opacity: 0.9;
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 80px;
        background-color: #01080E;
    }

    .div-menu-lateral {
        display: flex;
        padding: 15px;
    }

    .widht-100 {
        width: 108%;
    }

    .padding-right-15 {
        padding-right: 0px;
    }

    .links-do-menu-lateral {
        font-size: inherit;
        text-decoration: none;
        color: white;
        text-align: center;
        width: 35%;
    }

    .espacamento-main {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-bottom: 3.43rem;
        height: 1000px;
        width: 100%;
        background: #041833;
        margin-left: 0px;
    }

    .secao-titulo {
        font-weight: 700;
        font-size: 1.35rem;
        user-select: none;
        color: white;
        margin-top: 75px;
    }

}

@media (min-width: 577px) and (max-width: 768px) {

    .menu-lateral-logo {
        margin-left: 0%;
        display: none;
    }

    .playlists-menu-lateral {
        padding-left: 2.5rem;
        font-size: 17px;
        color: white;
        display: none;
    }

    .links-da-playlists-menu-lateral {
        font-size: inherit;
        text-decoration: none;
        color: white;
        display: none;
    }

    .menu-lateral {
        display: none;
    }

    .menu-lateral-bottom {
        display: flex;
        opacity: 0.9;
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 80px;
        background-color: #01080E;
    }

    .div-menu-lateral {
        display: flex;
        padding: 15px;
    }

    .widht-100 {
        width: 104%;
    }

    .padding-right-15 {
        padding-right: 0px;
    }

    .links-do-menu-lateral {
        font-size: inherit;
        text-decoration: none;
        color: white;
        text-align: center;
        width: 35%;
    }

    .espacamento-main {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-bottom: 3.43rem;
        height: 1000px;
        width: 100%;
        background: #041833;
        margin-left: 0px;
    }

    .secao-titulo {
        font-weight: 700;
        font-size: 1.35rem;
        user-select: none;
        color: white;
        margin-top: 75px;
    }

}
  
@media (min-width: 993px) and (max-width: 1200px) {

    .menu-lateral-bottom {
        display: none;
    }

    .espacamento-main {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-bottom: 3.43rem;
        height: 1000px;
        width: 85%;
        background: #041833;
        margin-left: 227px;
    }

    .cartao-titulo {
        font-weight: 700;
        line-height: 1.35rem;
        color: white;
        font-size: 13px;
        margin-top: 12px;
    }

    .cartao-play {
        width: 6.25rem;
        height: 0.25rem;
        background: white;
        border-radius: .5rem;
        margin: 60px 0px 0px 92px;
        position: absolute;
    }

}